<div id="dakwah_show">
  <div id="show_banner_dasbor">
    <h1><%= @member.title %> <span>-</span> Dasbor</h1>
  </div>

  <div id="links">
    <div class="wrapper">
       <ul>
         <li><%= link_to "Episodes", root_path %></li>
         <li><%= link_to "Buat dakwah", new_member_episode_path(@member) %></li>
         <li><%= link_to "Pengaturan Akun", edit_member_registration_path, class: "current" %></li>
         <li><%= link_to "Lihat Dakwah", member_path(current_member) %></li>
       </ul>
    </div>
  </div>
</div>

<div id="form">
  <div class="wrapper_skinny">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :Judul %><br />
        <%= f.text_field :title, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :Deskripsi_anda %><br />
        <%= f.text_field :description %>
      </div>

      <div class="field">
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <h2>Punya akun sosial media?</h2>

      <div class="field">
        <%= f.label :facebook %><br />
        <%= f.text_field :facebook %>
      </div>

      <div class="field">
        <%= f.label :instagram %><br />
        <%= f.text_field :instagram %>
      </div>

      <div class="field">
        <%= f.label :katasandi %> <i>(Biarkan kosong apabila tidak ada perubahan)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em>Setidaknya lebih dari <%= @minimum_password_length %> karakter</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :konfirmasi_katasandi %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :katasandi_lama %> <i>(diperlukan untuk konfirmasi perubahan akun)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Perbarui", class: "button button_highlight" %>
      </div>
    <% end %>

    <h3>Hapus akun?</h3>

    <p>Sebaik-baiknya perbuatan adalah salah satunya dengan berdakwah, pikirkan kembali niatmu :) <%= button_to "Hapus akun", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  </div>
</div>
