<%= form_for ([@member, @episode]) do |f| %>

  <div class="field">
    <%= f.label :Judul_episode %> <br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :Deskripsi_singkat_episode %> <br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :gambar_episode %> <br>
    <%= f.file_field :episode_thumbnail %>
  </div>

  <div class="field">
    <%= f.label :Audio_episode %> <br>
    <%= f.file_field :mp3 %>
  </div>

<%= f.submit "Simpan episode", class: "button button_highlight" %>

<% end %>
