<div id="dakwah_show">
  <div id="show_banner_dasbor">
    <h1>Dian Sastro Dakwah <span>-</span> Dasbor</h1>
  </div>

  <div id="links">
    <div class="wrapper">
       <ul>
         <li><%= link_to "Episodes", root_path %></li>
         <li><%= link_to "Buat dakwah", new_member_episode_path(@member) %></li>
         <li><%= link_to "Pengaturan Akun", edit_member_registration_path %></li>
         <li><%= link_to "Lihat Dakwah", member_path(current_member) %></a></li>
       </ul>
    </div>
  </div>

  <div id="form">
    <div class="wrapper_skinny">
      <%= render 'form' %>
    </div>
  </div>
</div>
