<div id="dakwah_show">
  <div id="show_banner_dasbor">
    <h1>Dian Sastro Dakwah <span>-</span> Dasbor</h1>
  </div>

  <div id="links">
    <div class="wrapper">
       <ul>
         <li><%= link_to "Episodes", root_path %></li>
         <li><%= link_to "Buat dakwah", new_member_episode_path(@member), class: "current" %></li>
         <li><%= link_to "Pengaturan Akun", edit_member_registration_path %></li>
         <li><%= link_to "Lihat Dakwah", member_path(current_member) %></a></li>
       </ul>
    </div>
  </div>

  <div id="form">
    <div class="wrapper_skinny">
      <%= form_for ([@member, @episode]) do |f| %>

        <div class="field">
          <%= f.label :title %> <br>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :description %> <br>
          <%= f.text_area :description %>
        </div>

      <%= f.submit class: "button button_highlight" %>

      <% end %>
    </div>
  </div>
</div>
