<div id="dakwah_show">
  <div id="show_banner">
    <h1><%= @member.title %></h1>
    <p class="description"><%= @member.description %></p>
    <% unless @member.facebook.blank? %>
      <a href="<%= @member.facebook %>" class="subscribe_link">Facebook</a>
    <% end %>
    <% unless @member.instagram.blank? %>
      <a href="<%= @member.instagram %>" class="subscribe_link">Instagram</a>
    <% end %>
  </div>

  <div id="breadcrumb">
    <%= link_to members_path do %>
      Semua Dakwah
      <span>/</span>
      <%= link_to @member.title, member_path(@member) %>
      <span>/</span>
      <%= @episode.title %>
    <% end %>
  </div>

  <div id="episodes_2">
    <div class="wrapper">
      <ul class="cf">
        <li class="cf">
          <div class="episode_thumbnail_2">
            <a href="
            #">
              <%= image_tag @episode.episode_thumbnail.url(:medium) %>
            </a>
          </div>
          <div class="episode_overview_2">
            <h2><%= @episode.title %></h2>
            <p class="description"><%= @episode.description %></p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="episodes">
    <div class="wrapper">
      <ul class="cf">
        <% @episodes.each do |episode| %>
          <li class="cf">
            <div class="episode_thumbnail">
              <a href="episode.html">
                <%= image_tag episode.episode_thumbnail.url(:medium) %>
              </a>
            </div>
            <div class="episode_overview">
              <h2><%= link_to episode.title, member_episode_path(@member, episode) %></h2>
              <p class="description"><%= truncate(episode.description, length: 160) %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="pagination">
  <span class="previous_page disabled">Sebelumnya</span>
  <em class="current">1</em>
  <a href="#">2</a>
  <a href="#" class="next_page">
    Selanjutnya
  </a>
</div>
