<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <%= link_to "FKSPDAKWAH", root_path, id: "logo" %>
      <nav>
        <ul>
          <li><%= link_to "Masuk", new_member_session_path %></li>
          <li><%= link_to "Mendaftar", new_member_registration_path %></li>
          <li><a href="#">Tentang aplikasi</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Sampaikanlah walau satu ayat, berdakwah atau mendengarkan dakwah.</h1>
    <input type="text" id="episodes-search-txt" autofocus placeholder="Cari dakwah berdasarkan kata kunci...">
    <div class="results" id="episodes-search-results"></div>
  </div>
</div>

<div id="dakwah" class="cf">
  <div class="wrapper">
    <ul class="cf">
      <% @members.each do |member| %>
        <%= link_to member do %>
          <li>
            <%= image_tag member.avatar.url(:medium) %>
            <div class="dakwah_overview">
              <h2><%= member.title %></h2>
              <p class="episode_count"><%= member.episodes.count %> Episode</p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= will_paginate @members, previous_label: "Sebelumnya", next_label: "Selanjutnya" %>
  </div>
</div>

<div id="info" class="cf">
  <div class="wrapper">
    <h1>Alhamdulillah sudah ada <%= @members.count %> member dan <%= @episodes.count %> episode dakwah terkumpul.</h1>
  </div>
</div>
<div id="footer" class="cf">
  <div class="wrapper">
    <h1>FKSPDAKWAH &copy; 2016</h1>
  </div>
</div>

<script>
  $(function() {
    new app.Episodes;
  });
</script>
